@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Jost", sans-serif;
  background-color: #03071E;
  color: #fff;
}
/* .wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
} */
header{
  background-color: #370617;
  color: #fff;
  text-align: center;
  padding: 0.5rem 0;
  margin-bottom: 2rem;
}
.img-container {
  margin: 0 auto;
  width: 60%;
}
.img-container img {
  width: 100%;
  height: 100%;
}
.health {
  margin: 0 auto;
  width: 80%;
  border: 1px solid #fff;
  border-radius: 3px;
  height: 25px;
  position: relative;
}
.health .health-bar {
  width: 100%;
  height: 100%;
  background: #477d48;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
}
.hp-percent {
  position: absolute;
  left: 50%;
  font-size: 0.8rem;
  color: #fff;
}
/*CONTROLS*/
.controls {
  display: flex;
  justify-content: center;
}
.control-icon {
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9d0208;
  border-radius: 2px;
  transition: 300ms ease-out;
  position: relative;
}
.control-icon img {
  width: 100%;
  height: 100%;
  background-color: #e85d04;
}
.control-icon img:hover {
  background: #faa307;
}
.num-of-attempt {
  position: absolute;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dc2f02;
  padding: 3px;
  color: #fff;
  top: -30%;
  right: -20%;
  border-radius: 5px;
}
.start-btn {
  background: #ffba08;
  color: #03071e;
  border-radius: 5px;
  padding: 5px;
}
.start-btn:hover {
  background: #f48c06!important;
  color: #370617;
}
/*LOGS*/
.logs {
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.3rem;
  background: #370617;
  color: #fff;
}
.logs li {
  list-style-type: none;
}
.warrior {
  color: #dc2f02;
}
.dragon {
  color: #e85d04;
}
.img-icon {
  width: 50px;
}
.log-heal {
  color: #477d48;
}
.log-damage {
  color: #faa307;
}

/*disabled button */
button:disabled,
button[disabled] {
  /* border: 1px solid #999999!important; */
  background-color: #cccccc !important;
  color: #666666 !important;
  border-radius: 2px;
}
button:disabled,
button[disabled] img {
  background: #cccccc;
}
button:disabled,
button[disabled] img:hover {
  background: #f4f4f4;
}

/*Game Over Display*/
.overlap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(19, 18, 18, 0.95);
  z-index: 100;
}
.overlap .winner {
  background: #dc2f02;
  color: #fff;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin: auto;
  margin-top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
}